.info-box
  .info-box-header
    .title-tags
      h2.title Nombre de la pufotienda
      .place latitud / longitud
      ul.tags
        li.tag Tag 1
        li.tag Tag 3
        li.tag Tag 44
        li.tag Tag 455
    .severity
      include ../../assets/img/markers/1-mark.svg
      span Severidad media
