.info-box(v-if="poi"
  :class="{extend: isExtended}"
)
    
  .info-box-content
    .info-box-header
      .title-tags
        h2.title {{ poi.name }}
        .place
          include ../../assets/img/icons/location.svg
          span
            | {{ poi.location.coordinates[1] }} / {{ poi.location.coordinates[0] }}
      .severity(v-if="poi.severity === 1")
        img(src="../../assets/img/markers/1-mark.svg" border="0" alt="Baja")
        span.low Baja
      .severity(v-if="poi.severity === 2")
        img(src="../../assets/img/markers/2-mark.svg" border="0" alt="Media")
        span.medium Media
      .severity(v-if="poi.severity === 3")
        img(src="../../assets/img/markers/3-mark.svg" border="0" alt="Alta")
        span.high Alta
      .severity(v-if="poi.severity === 4")
        img(src="../../assets/img/markers/4-mark.svg" border="0" alt="Peligroso")
        span.dangerous Peligroso
    ul.tags
      li.tag(v-for="tag in poi.tags") {{ tag }}

    .info-content(v-if="activedSection === 'info'")
      .date-author
        include ../../assets/img/icons/calendar.svg
        span
          | {{ poi.created_date | moment('L') }} - {{ poi.author.username }}
      p.info-text {{ poi.description }}
      ul.img-gallery-th
        li(v-for="photo in poi.photos")
          img(:src="photo.photo" border="0")

    .comments-content(v-if="activedSection === 'comments'")
      h3.info-content-title Comentarios
      .comment(v-for="comment in poi.poi_comments")
        .comment-info
          img(src="https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=55083078" border="0").comment-img
          .comment-info-detail
            .author {{ comment.user.username }}
            .date {{ comment.created_date | moment('LL') }} | {{ comment.created_date | moment('LT') }}
        .message {{ comment.comment }}

    .shared-content(v-if="activedSection === 'shared'")
      .shared
        h3.info-content-title Compartir vía
        ul.share-icons
          li
            a(href="", target="_blank")
              include ../../assets/img/icons/email.svg
              span Email
          li
            a(href="", target="_blank")
              include ../../assets/img/icons/twitter.svg
              span Twitter
          li
            a(href="", target="_blank")
              include ../../assets/img/icons/facebook.svg
              span Facebook

    .valoration
      a.thumbs.thumbs-up
        include ../../assets/img/icons/thumbs-up.svg
        span {{ poi.positive_ratings_count }}
      a.thumbs.thumbs-down
        include ../../assets/img/icons/thumbs-down.svg
        span {{ poi.negative_ratings_count }}

  ul.info-box-nav
    .box-handler(@click="isExtended = !isExtended")
      include ../../assets/img/icons/arrow.svg
    li(
      @click="handleClose()"
    )
      include ../../assets/img/icons/close.svg
      span cerrar
    li(
      :class="{current: activedSection == 'info'}"
      @click="handleSetActiveSection('info')",
    )
      include ../../assets/img/icons/info.svg
      span info
    li(
      :class="{current: activedSection == 'comments'}"
      @click="handleSetActiveSection('comments')"
    )
      include ../../assets/img/icons/comments.svg
      span comentarios
    li(
      :class="{current: activedSection == 'shared'}"
      @click="handleSetActiveSection('shared')"
    )
      include ../../assets/img/icons/share.svg
      span compartir
