@import '../../assets/css/colors.css';
@import '../../assets/css/mixins.css';

.info-box {
  animation: fadeIn .4s linear;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 55px -10px rgba(136,136,136,0.85);
  display: flex;
  flex-direction: row;
  height: calc(100% - 2rem);
  padding: 1.5rem;
  padding-right: 1rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 40%;
  min-width: 600px;
  transition: all .4s ease;
  z-index: 1000;
  @media (--mobile) {
    font-size: .9rem;
    flex-direction: column-reverse;
    height: 60%;
    min-width: auto;
    padding: 1.2rem;
    width: calc(100% - 2rem);
  }

  &.extend {
    height: 92%;

    & .box-handler {

      & svg {
        transform: scaleY(-1);
      }
    }
  }
}

.info-box-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info-box-header {
  display: flex;
  flex-shrink: 0;

  & .title-tags {
    display: flex;
    flex-direction: column;

    & h2.title {
      font-size: 2rem;
      font-weight: bold;
      @media (--mobile) {
        font-size: 1.4rem;
      }
    }

    & .place {
      align-items: center;
      display: flex;
      margin-top: 1rem;

      & span {
        color: var(--color-gray);
        margin-left: .5rem;
      }

      & svg {
        fill: var(--color-black);
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }

  & .severity {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;

    & img {
      max-width: 130px;
      width: 100%;
      @media (--mobile) {
        max-width: 100px;
      }
    }

    & span {
      color: var(--color-yellow);
      font-weight: bold;
      text-align: center;
      &.low {
        color: var(--color-yellow);
      }
      &.medium {
        color: var(--color-orange);
      }
      &.high {
        color: var(--color-red);
      }
      &.dangerous {
        color: var(--color-black);
      }
    }
  }
}

ul.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  & li {
    background-color: var(--color-gray-light);
    border-radius: 3px;
    color: var(--color-gray);
    font-size: .8rem;
    font-weight: bold;
    padding: .4rem .6rem;
    margin-right: .5rem;
    margin-top: .6rem;
    @media (--mobile) {
      font-size: .7rem;
      padding: .2rem .4rem;
    }
  }
}

.info-content {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding-right: 1rem;
  overflow-y: auto;
  overflow-x: hidden;

  & .date-author {
    align-items: center;
    display: flex;
    margin-top: 1rem;

    & span {
      color: var(--color-gray);
      margin-left: .5rem;
    }

    & svg {
      fill: var(--color-black);
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  & p.info-text {
    color: var(--color-black);
    font-size: .9rem;
    line-height: 1.7;
    margin: 1rem 0;
    flex-shrink: 0;
  }
}

ul.img-gallery-th {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;

  & li {
    width: 30%;
    margin-right: 3%;
    margin-top: 1rem;
    @media (--mobile) {
      width: 100%;
    }

    & img {
      border-radius: 5px;
      width: 100%;
    }
  }
}

.valoration {
  border-top: 1px solid var(--color-black);
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin-top: auto;
  padding: 1rem;
  padding-bottom: 0;

  & a.thumbs {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin: 0 1.5rem;

    & svg {
      fill: var(--color-black);
      height: 2rem;
      transition: all .3s ease;
      width: 2rem;
    }

    & span {
      align-items: center;
      background-color: var(--color-gray-light);
      border-radius: 50%;
      color: var(--color-gray);
      display: flex;
      flex-shrink: 0;
      font-size: .8rem;
      font-weight: bold;
      height: 1.6rem;
      justify-content: center;
      margin-left: .6rem;
      width: 1.6rem;
    }

    &.current {
      & svg {
        fill: var(--color-main);
      }

      & span {
        background-color: var(--color-main);
        color: var(--color-white);
      }

    }
    &.thumbs-down {

      &:hover {

        & svg {
          transform: translateY(7px);
        }
      }
    }

    &.thumbs-up {

      &:hover {

        & svg {
          transform: translateY(-7px);
        }
      }
    }
  }
}

.box-handler {
  align-items: center;
  background-color: var(--color-white);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: none;
  left: calc(50% - 25px);
  height: 30px;
  justify-content: center;
  position: absolute;
  top: -50px;
  transition: all .4s ease;
  width: 50px;
  @media (--mobile) {
    display: flex;
  }

  & svg {
    fill: var(--color-black);
    height: 20px;
    width: 20px;
  }
}

ul.info-box-nav {
  align-items: center;
  border-left: 1px solid var(--color-gray-light);
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  padding-left: 1rem;
  position: relative;
  @media (--mobile) {
    border-left: none;
    border-bottom: 1px solid var(--color-gray-light);
    flex-direction: row;
    height: 40px;
    justify-content: space-around;
    margin:.4rem 0 1rem 0;
    padding: .4rem 0;
  }

  & li {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    & svg {
      fill: var(--color-gray);
      height: 30px;
      width: 30px;
    }

    & span {
      color: var(--color-gray);
      font-size: .7rem;
      margin-top: .3rem;
      @media (--mobile) {
        display: none;
      }
    }

    &.current,
    &:hover {

      & svg {
        fill: var(--color-black);
      }

      & span {
        color: var(--color-black);
      }
    }
  }
}

.comments-content,
.shared-content {
  margin: 1rem 0;
  padding-right: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  & .comment-info {
    display: flex;
    margin-bottom: .5rem;

    & img.comment-img {
      background-color: var(--color-blue);
      border-radius: 50%;
      height: 40px;
      flex-shrink: 0;
      margin-right: .6rem;
      width: 40px;
    }

    & .comment-info-detail {
      display: flex;
      flex-direction: column;

      & .author {
        font-weight: bold;
      }

      & .date {
        color: var(--color-gray);
        font-size: .8rem;
      }
    }
  }
  & .message {
    font-size: .9rem;
    line-height: 1.5;
    padding-left: 3rem;
    @media (--mobile) {
      padding-left: 0;
    }
  }
}

.comment-form {
  border-bottom: 1px solid var(--color-gray-light);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  & textarea {
    border-radius: 5px;
    border: 1px solid var(--color-gray-light);
    color: var(--color-black);
    margin-bottom: 1rem;
    padding: 1rem;

    &::placeholder {
      color: var(--color-gray);
    }
  }

  & input {
    background-color: var(--color-main);
    border-radius: 50px;
    padding: .5rem;
    color: var(--color-white);
    font-size: 1rem;
    font-weight: bold;
  }
}

h3.info-content-title {
  border-bottom: 1px solid var(--color-gray-light);
  padding: 1rem 0;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 100%;
}

.shared {
  display: flex;
  flex-direction: column;

  & span {
    color: var(--color-gray);
  }

  & ul.share-icons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    & li {
      min-width: 80px;

      & a {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 1rem;

        & svg {
          fill: var(--color-gray);
          height: 35px;
          width: 35px;
          margin-bottom: .6rem;
        }

        & span {
          font-size: .8rem;
        }
      }
    }
  }
}
