<div class="info-box">
  <div class="info-box-header">
    <div class="title-tags">
      <h2 class="title">Nombre de la pufotienda</h2>
      <div class="place">latitud / longitud</div>
      <ul class="tags">
        <li class="tag">Tag 1</li>
        <li class="tag">Tag 3</li>
        <li class="tag">Tag 44</li>
        <li class="tag">Tag 455</li>
      </ul>
    </div>
    <div class="severity">
      <img src="" alt="Severidad media">
      <span>Severidad media</span>
    </div>
  </div>
</div>
