@import '../../assets/css/colors.css';

.map {
  height: 100%;
}

.new-marker-contextmenu {
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: 10000;
  width: 100px;

  & .contentmenu-item {
    height: 1.5rem;
    width: 100%;
    margin-bottom: .5rem;
    background-color: var(--color-blue-dark);
    color: var(--color-main);
    box-shadow: 10px 10px 28px -5px rgba(0,0,0,0.65);
    border-radius: 10px;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-blue-dark);
    }
  }
}
