vl-map.map(
  ref="map"
  :zoom="zoom"
  :center="center"
  :options="options"
  @l-moveend="handleChangeBoundingBox"
  @l-zoomend="handleChangeBoundingBox"
  @l-contextmenu="handleContextMenu"
)
  div New Poim: {{ newPoim }}
  vl-tilelayer(
    :url="url"
    :attribution="attribution"
  )
  vl-marker(
    v-for="poim in poims"
    :key="poim.id"
    :lat-lng="poimLatLong(poim)"
    :icon="poimLeafletIcon(poim, selectedPoim && selectedPoim.id === poim.id)"
    @l-click="handleClickMarker($event, poim.id)"
  )
  vl-marker(
    v-if="newPoimExist"
    :lat-lng="poimLatLong(newPoim)"
    :icon="newPoimLeafletIcon()"
    :zIndexOffset="1000"
    :options="{opacity: 0.5}"
    @l-click="handleClickNewMarker($event)"
  )
