vl-marker(
  :draggable="draggable"
  :visible="visible"
  :lat-lng="[location.coordinates[1], location.coordinates[0]]"
  :z-index-offset="zIndexOffset"
  :options="options"
  :icon="icon"
)
  vl-tooltip.tooltip
    | {{ tooltip }}

