ul.ui-nav
  li(v-if="!isAuthenticated")
    router-link(:to="{ name: 'login'}")
      include ../../assets/img/icons/user.svg

  li(v-if="isAuthenticated")
     button.logout(
       type="button"
       @click="logout()"
     )
       include ../../assets/img/icons/share.svg
  li
    button(
      type="button"
      :class="{enabled: isFilterApplied}"
      @click="setFiltersVisibility(true)"
    )
      include ../../assets/img/icons/filter.svg

  li(v-if="isAuthenticated && newPoimExist")
    button.add-poim(
      @click="setNewPoimFormVisibility(true)"
    )
      include ../../assets/img/icons/close.svg
  li
    router-link(:to="{ name: 'about-us'}")
      include ../../assets/img/icons/skull-map.svg
