vl-map.map(ref="map", :zoom="zoom", :center="center")
  vl-tilelayer(:url="url", :attribution="attribution")
  vl-marker(
    v-for="poi in pois"
    :key="poi.id"
    :lat-lng="poiLatLong(poi)"
    :icon="poiLeafletIcon(poi, selectedPoi && poi.id === selectedPoi.id)"
    @l-click="handleClickMarker($event, poi.id)"
  )
