.pm-map
  vl-map(ref="map", :zoom="zoom", :center="center")
    vl-tilelayer(:url="url", :attribution="attribution")
    pm-marker(
      :tooltip="pois[0].name"
      :location="pois[0].location"
      :status="pois[0].status"
      :severity="pois[0].severity"
      :visited="pois[0].visited"
    )
    pm-marker(
      v-for="poi in pois"
      :key="poi.id"
      :tooltip="poi.name"
      :location="poi.location"
      :status="poi.status"
      :severity="poi.severity"
      :visited="poi.visited"
    )
  pm-marker-infobox
