vl-map.map(
  ref="map"
  :zoom="zoom"
  :center="center"
  :options="options"
  @l-moveend="handleChangeBoundingBox"
  @l-zoomend="handleChangeBoundingBox"
  @l-contextmenu="handleContextMenu"
)
  div New Poi: {{ newPoi }}
  vl-tilelayer(
    :url="url"
    :attribution="attribution"
  )
  vl-marker(
    v-for="poi in pois"
    :key="poi.id"
    :lat-lng="poiLatLong(poi)"
    :icon="poiLeafletIcon(poi, selectedPoi && selectedPoi.id === poi.id)"
    @l-click="handleClickMarker($event, poi.id)"
  )
  vl-marker(
    v-if="newPoiExist"
    :lat-lng="poiLatLong(newPoi)"
    :icon="newPoiLeafletIcon()"
    :zIndexOffset="1000"
    :options="{opacity: 0.5}"
    @l-click="handleClickNewMarker($event)"
  )
