.signin
  .signin-content
    include ../../assets/img/icons/skull-map.svg
    h1.title PUFOMAP
    
    ul.signin-nav
      li
        a(href="#").current LOG IN
      li
        a(href="#") SIGN UP
        
    form(action="").signin-form
      label(for="email") Email
      input(type="email" placeholder="Enter email" name="email" required)
      label(for="password") Password
      input(type="password" placeholder="Enter password" name="password" required)
      input(type="submit" value="LOG IN").btn-login
