ul.ui-nav
  li(v-if="!isAuthenticated")
    router-link(:to="{ name: 'login'}")
      include ../../assets/img/icons/user.svg
  li(v-if="isAuthenticated")
     button(
       type="button"
       @click="logout()"
     )
       include ../../assets/img/icons/user.svg
  li
    button(href="")
      include ../../assets/img/icons/filter.svg
  li(v-if="isAuthenticated")
    a(href="").add-poi
      include ../../assets/img/icons/close.svg
