ul.ui-nav
  li
    a(href="")
      include ../../assets/img/icons/user.svg
  li
    a(href="")
      include ../../assets/img/icons/filter.svg
  li
    a(href="").add-poi
      include ../../assets/img/icons/close.svg
