.filters-box(v-if="filtersVisible")
  .filters-box-content
    h3.info-content-title Filtrar por

    form(
      @submit.prevent="handleSubmit()"
      autocomplete="off"
    )
      .filters-row
        span SEVERIDAD
        .filters-row-content
          .round
            input(type="checkbox" id="low" v-model="formFilters.severity.low")
            label(for="low")
              span Baja
          .round
            input(type="checkbox" id="medium" v-model="formFilters.severity.medium")
            label(for="medium")
              span Media
          .round
            input(type="checkbox" id="high"  v-model="formFilters.severity.high")
            label(for="high")
              span Alta
          .round
            input(type="checkbox" id="dangerous" v-model="formFilters.severity.dangerous")
            label(for="dangerous")
              span Peligrosa
      //- .filters-row
      //-   span TAGS
      //-   .filters-row-content
      //-     .round
      //-       input(type="checkbox" id="1" value="1")
      //-       label(for="1")
      //-         span Tag 1
      //-     .round
      //-       input(type="checkbox" id="2" value="2")
      //-       label(for="2")
      //-         span Tag 2
      //-     .round
      //-       input(type="checkbox" id="3" value="3")
      //-       label(for="3")
      //-         span Tag 3
      //-     .round
      //-       input(type="checkbox" id="4" value="4")
      //-       label(for="4")
      //-         span Tag 4
      //-     .round
      //-       input(type="checkbox" id="5" value="5")
      //-       label(for="5")
      //-         span Tag 5
      //-     .round
      //-       input(type="checkbox" id="6" value="6")
      //-       label(for="6")
      //-         span Tag 6
      //-     .round
      //-       input(type="checkbox" id="7" value="7")
      //-       label(for="7")
      //-         span Tag 7
      input(type="submit" value="Filtrar").btn

  ul.info-box-nav
    li(@click="handleClose()")
      include ../../assets/img/icons/close.svg
      span cerrar
