.new-poim-box(v-if="newPOIMFormVisible")
  .new-poim-box-content
    h3.info-content-title Nuevo POIM

    form(
      @submit.prevent="handleSubmit()"
      autocomplete="off"
    )
      .new-poim-row
        span NOMBRE
        .new-poim-row-content
          input(type="text" id="name" v-model="formNewPOIM.name" required
                placeholder="Escribe el nombre del establecimiento, clínica, evento,...")

      .new-poim-row
        span SEVERIDAD
        .new-poim-row-content
          .round
            input(type="radio" id="low" value="1" v-model="formNewPOIM.severity" required)
            label(for="low")
              span Baja
          .round
            input(type="radio" id="medium" value="2" v-model="formNewPOIM.severity")
            label(for="medium")
              span Media
          .round
            input(type="radio" id="high" value="3" v-model="formNewPOIM.severity")
            label(for="high")
              span Alta
          .round
            input(type="radio" id="dangerous" value="4" v-model="formNewPOIM.severity")
            label(for="dangerous")
              span Peligrosa

      .new-poim-row
        span TAGS
        .new-poims-row-content
          .round(v-for="tag in formNewPOIM.tags")
            input(type="checkbox" :id="tag.slug" v-model="tag.selected")
            label(:for="tag.slug")
              span {{ tag.name }}

      .new-poim-row
        Span DESCRIPCIÓN
        .new-poim-row-content
          textarea(id="description" v-model="formNewPOIM.description" required
                   placeholder="Escribe una buena descripción para que el POIM sea aprobado por el equipo de editoras")

      input(type="submit" value="Añadir").btn

  ul.info-box-nav
    li(@click="handleClose()")
      include ../../assets/img/icons/close.svg
      span cerrar
