.filters-box(v-if="filtersVisible")
  .filters-box-content
    h3.info-content-title Filtrar por

    form(
      @submit.prevent="handleSubmit()"
      autocomplete="off"
    )
      .filters-row(v-if="isAuthenticated")
        span ESTADO
        .filters-row-content
          .round
            input(type="checkbox" id="pub" v-model="formFilters.statuses.published")
            label(for="pub")
              span Publicado
          .round
            input(type="checkbox" id="pen" v-model="formFilters.statuses.pending")
            label(for="pen")
              span Pendiente
      .filters-row
        span SEVERIDAD
        .filters-row-content
          .round
            input(type="checkbox" id="low" v-model="formFilters.severities.low")
            label(for="low")
              span Baja
          .round
            input(type="checkbox" id="medium" v-model="formFilters.severities.medium")
            label(for="medium")
              span Media
          .round
            input(type="checkbox" id="high"  v-model="formFilters.severities.high")
            label(for="high")
              span Alta
          .round
            input(type="checkbox" id="dangerous" v-model="formFilters.severities.dangerous")
            label(for="dangerous")
              span Peligrosa
      .filters-row
        span TAGS
        .filters-row-content
          .round(v-for="tag in formFilters.tags")
            input(type="checkbox" :id="tag.slug" v-model="tag.selected")
            label(:for="tag.slug")
              span {{ tag.name }}
      input(type="submit" value="Filtrar").btn

  ul.info-box-nav
    li(@click="handleClose()")
      include ../../assets/img/icons/close.svg
      span cerrar
